#div-text {
    font-size: 50px;
    margin: 100px;
    padding: 50px;

    /*  3  */
    resize: both;
    overflow: auto;
}

th, td, caption {
    font-size: 25px;
  }

table {
    text-align: center;
    margin: 100px;
    width: 100px;
    border: 2px solid black;
}  