.header-wrapper {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

        p {
        font-size: 75px;
        font-weight: 500;
        letter-spacing: 5px;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(251, 74, 74);
        margin-top: 20%;
        }

        span {
            font-size: 20px;
        }
}