@import "../fonts/fonts.scss";
@import "./mixins.scss";


$grey-color: #565656;

body {
    max-width: 1440px;
    margin: 0 auto;

    @include responsive(tablet) {
        max-width: 768px;
    }

    @include responsive(mobile) {
        max-width: 320px;
    }
}

.title {
    @include text('RedHat', normal, 600, 28px, 166%, 0.1em);
}

.title-blog {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
}

.header-wrapper {
    padding-top: 42px;
    padding-bottom: 42px;
    display: flex;
    justify-content: space-between;
    padding-left: 135px;
    padding-right: 135px;

    @include responsive(mobile) {
        padding: 24px 80px 24px 10px;
    }

    .logo {
        width: 142px;
        height: 12px;
    }

    .top-menu {
        display: flex;
        gap: 42px;
        padding-right: 30px;

        @include responsive(tablet) {
            display: none;
        }

        @include responsive(mobile) {
            display: none;
        }
    }

}

.menu-search {
    display: flex;

    @include responsive(tablet) {
        gap: 40px;
        align-items: baseline;
    }

    @include responsive(mobile) {
        gap: 20px;
        align-items: center;
    }
}


.top-menu-item a {
    @include text('Lato', normal, 400, 14px, 17px, 0.3em);
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;

    .top-menu-item:hover a {
        text-decoration: underline;
    }
}

.main-photo {
    padding-top: 100px;
    background-image: url(./assets/bg-image.svg);
    background-size: cover;
    height: 100vh;
    width: 100%;

    @include responsive(tablet) {
        padding-top: 23px;
        height: 320px;
    }

    @include responsive(mobile) {
        padding-top: 23px;
        height: 500px;
        width: 320px;
    }
}

.main-photo-text {
    @include text('RedHat', normal, 600, 48px, 64px, 0.05em);
    padding-left: 135px;

    @include responsive(tablet) {
        font-size: 36px;
        padding-left: 34px;
    }

    @include responsive(mobile) {
        font-size: 30px;
        padding-left: 10px;

        &:first-of-type {
            padding-top: 70px;
        }
    }
}

main {
    padding-left: 135px;

    @include responsive(tablet) {
        padding-left: 34px;
        padding-right: 35px;
    }

    @include responsive(mobile) {
        padding-left: 10px;
        padding-right: 10px;
    }

    .blog {
        padding-top: 90px;


        .title-blog {
            @include text('RedHat', normal, 400, 48px, 64px, 0.05em);
            padding-bottom: 50px;
            padding-left: 65px;
        }

        .blog-section {
            display: flex;
            gap: 30px;
            padding-bottom: 50px;
            justify-content: center;

            @include responsive(tablet) {
                padding-bottom: 0;
            }

            @include responsive(mobile) {
                display: block;
                display: flex;
                width: 100%;
                flex-flow: column-reverse;
            }

            &:first-of-type {
                .blog-text {
                    padding-right: 122px;

                    @include responsive (tablet) {
                        padding-right: 0;
                    }

                    @include responsive (mobile) {
                        padding-right: 0;
                    }
                }

                .blog-img {
                    background-image: url(./assets/arrow.svg);
                }
            }

            &:last-of-type {
                .blog-text {
                    padding-left: 122px;

                    @include responsive (tablet) {
                        padding-left: 0;
                    }

                    @include responsive (mobile) {
                        padding-left: 0;
                    }
                }

                .blog-img {
                    background-image: url(./assets/bg-image.svg);
                }
            }

            .blog-img,
            .blog-text {
                width: 45%;

                @include responsive(tablet) {
                    width: 45%;
                }

                @include responsive(mobile) {
                    width: 100%;
                }

                img {
                    max-width: 570px;

                    @include responsive(tablet) {
                        max-width: 340px;
                    }

                    @include responsive(mobile) {
                        max-width: 300px;
                    }
                }
            }

            .blog-img {
                max-width: 570px;
                background-size: cover;
                background-repeat: no-repeat;
                height: 100vh;
                max-height: 470px;

                @include responsive(tablet) {
                    max-width: 340px;
                    height: 280px;
                }

                @include responsive(mobile) {
                    width: 300px;
                    height: 250px;
                }
            }

            .blog-text {
                display: flex;
                align-items: center;
                max-width: 448px;
                justify-content: space-around;

                @include responsive(tablet) {
                    align-items: flex-start;
                    max-width: 340px;
                }

                @include responsive(mobile) {
                    align-items: flex-start;
                    max-width: 300px;
                }
            }

            .blog-top-text {
                @include text('Lato', normal, 400, 16px, 166%, 0.1em);
                color: $grey-color;

                @include responsive(tablet) {
                    margin-bottom: 20px;
                }
            }

            .blog-main-text {
                @include text('RedHat', normal, 500, 23px, 166%, 0.1em);

                @include responsive(tablet) {
                    margin-bottom: 15px;
                }
            }

            .blog-date {
                @include text('Lato', normal, 400, 16px, 166%, 0.1em);
                color: #7B7B7B;

                @include responsive(tablet) {
                    margin-bottom: 20px;
                }
            }

            .blog-description {
                @include text('Lato', normal, 400, 16px, 166%, 0.05em);
                color: #565656;

                @include responsive(tablet) {
                    margin-bottom: 70px;
                }
            }

            .blog-description::after {
                content: url(./assets/Arrow-small.svg);
            }
        }
    }
}

.small-arrow {
    width: 23px;
    height: 0px;
    color: $grey-color;
}

.view-all::after {
    content: url(./assets/Arrow-small.svg);
    padding-left: 20px;
}

.view-all {
    @include text('Lato', normal, 400, 16px, 166%, 0.1em);
    color: $grey-color;
    padding-right: 70px;
}

.latest-posts {

    header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;

        @include responsive (mobile) {
            display: block;
        }
    }

    .latest-posts-wrapper {
        display: flex;
        gap: 30px;

        @include responsive(tablet) {
            display: inline-block;
        }

        @include responsive (mobile) {
            display: block;
        }
    }

    .latest-text {
        @include responsive(tablet) {
            max-width: 370px;
        }
    }

    .latest-photo {
        width: 370px;
        height: 260px;
        padding-bottom: 25px;

        @include responsive (tablet) {
            width: 340px;
            height: 240px;
        }

        @include responsive (mobile) {
            width: 300px;
            height: 210px;
        }
    }

    .latest-top-text {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
    }

    .latest-top,
    .latest-date {
        @include text('Lato', normal, 400, 12px, 166%, 0.1em);
        color: #7B7B7B;
    }

    .latest-main-text {
        @include text('RedHat', normal, 500, 22px, 166%, 0.1em);
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .latest-description {
        @include text('Lato', normal, 400, 16px, 166%, 0.05em);
        color: #565656;
        padding-bottom: 110px;

        @include responsive (mobile) {
            padding-bottom: 50px;
        }
    }

    .latest-section {
        @include responsive(tablet) {
            display: flex;
            gap: 20px;
        }

        &:nth-of-type(2) {
            flex-direction: row-reverse;
        }
    }
}

.the-most-popular {
    header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;

        @include responsive(mobile) {
            display: block;
        }
    }

    .the-most-popular {
        display: flex;
        gap: 30px;

        @include responsive (mobile) {
            display: block;
        }
    }

    .most-photo {
        width: 570px;
        height: 260px;
        padding-bottom: 20px;

        @include responsive(tablet) {
            width: 340px;
            height: 160px;
        }

        @include responsive(mobile) {
            width: 300px;
            height: 150px;
        }
    }

    .most-top-text,
    .most-date {
        @include text('Lato', normal, 400, 12px, 166%, 0.1em);
        color: #7B7B7B;

        @include responsive (mobile) {
            font-size: 16px;
        }
    }

    .most-date {
        @include responsive (tablet) {
            width: 110px;
        }
    }

    .the-most-popular-text {
        max-width: 570px;
    }

    .most-main-text {
        @include text('RedHat', normal, 500, 22px, 166%, 0.1em);
        color: #000000;
        padding-top: 25px;
        padding-bottom: 20px;

        @include responsive (tablet) {
            font-size: 22px;
        }

        @include responsive (mobile) {
            font-size: 22px;
            padding-bottom: 10px;
        }
    }

    .most-description {
        @include text('Lato', normal, 400, 16px, 166%, 0.05em);
        color: $grey-color;
        padding-bottom: 110px;

        @include responsive (mobile) {
            padding-bottom: 50px;
        }
    }

    .most-top-text {
        display: flex;
        justify-content: space-between;

        @include responsive(tablet) {
            width: 340px;
        }
    }
}

.load-more {
    @include text('Lato', normal, 700, 16px, 166%, 0.1em);
    width: 180px;
    height: 46px;
    background: $grey-color;
    color: #FFFFFF;
    margin-left: 495px;
    margin-bottom: 90px;

    @include responsive (tablet) {
        margin-bottom: 70px;
        margin-left: 294px;
    }

    @include responsive (mobile) {
        margin-left: 70px;
        margin-bottom: 70px;
    }
}

.text-after-button {
    display: flex;
    gap: 230px;

    @include responsive(tablet) {
        display: inline;
    }

    @include responsive (mobile) {
        display: inline;
    }
}

.text-after1 {
    @include text('RedHat', normal, 400, 23px, 166%, 0.1em);

    &:nth-child(2) {
        padding-bottom: 70px;
    }
}

.text-after2 {
    @include text('Lato', normal, 400, 19px, 32px, 0.05em);
    color: $grey-color;

    @include responsive (tablet) {
        text-align: right;
    }

    @include responsive (mobile) {
        padding-bottom: 50px;
        font-size: 18px;
    }
}

.text-after2 p:first-of-type {
    padding-bottom: 15px;
}

footer {
    background-color: #F4F4F4;

    .footer-wrapper {
        display: flex;
        justify-content: space-around;
        width: 1440px;
        height: 300px;
        margin-top: 90px;

        @include responsive(tablet) {
            display: inline;
        }

        @include responsive(mobile) {
            display: inline;
        }

        .footer-need {
            @include text('RedHat', normal, 400, 48px, 64px, 0.05em);
            padding-top: 70px;
            padding-bottom: 30px;

            @include responsive (mobile) {
                font-size: 32px;
                padding-bottom: 20px;
            }
        }

        .footer-text {
            @include text('Lato', normal, 400, 16px, 166%, 0.1em);

            @include responsive(tablet) {
                text-align: center;
            }

            @include responsive(mobile) {
                text-align: center;
            }
        }

        .footer-text p:nth-child(2) {
            padding-bottom: 15px;
        }
    }

    .socials {
        display: flex;
        gap: 10px;
        padding-top: 125px;

        @include responsive (tablet) {
            justify-content: center;
            padding-top: 64px;
        }

        @include responsive (mobile) {
            justify-content: center;
            padding-top: 40px;
        }
    }

    .socials img {
        width: 50px;
        height: 50px;
    }

    .socials img:hover {
        background-color: $grey-color;
        opacity: 0.5;
    }
}

.bottom-text {
    @include text('Lato', normal, 400, 12px, 166%, 0.1em);

    @include responsive (mobile) {
        font-size: 16px;
    }

    .copyright {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


#menu {
    @include responsive(desktop) {
        display: none;
    }

    z-index: 2;
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 20px 20px 75px;
    cursor: pointer;
    position: relative;
    top: 20px;

    @include responsive(mobile) {
        margin: 12px 0px 20px 75px;
    }
}

.bar {
    height: 2px;
    width: 34px;
    background-color: black;
    display: block;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-10px);
}

#bar3 {
    transform: translateY(10px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg,
#menu {
    top: 0;
    right: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #e38c8c, #f08945);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: black;
}

.change #bar1 {
    transform: translateY(-6px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-10px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(71%, -15%);
}